
body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, rgb(0, 255, 242), rgb(0, 119, 255));
}

.calculadora-grilla {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora-grilla > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid indigo;
	outline: none;
	background-color: linen;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 25px 25px 0px 0px;
	word-wrap: break-word;
	word-break: break-all;
}
input.display {
	height: 40px;
	width: 90%;
	border: 0px;
	padding: 10px;
	margin: 10px;
}
button:active {
	color: white;
	border: 1px solid white;
	background-color: black;
}

input::placeholder {
	padding: 10px;
	margin: 20px;
}

.output .display {
	color: slateblue;
	font-size: 1.85rem;
	text-align: right;
}

.calculadora-grilla > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid indigo;
	outline: none;
	background-color: linen;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 25px 25px 0px 0px;
	word-wrap: break-word;
	word-break: break-all;
}
input.display {
	width: 90%;
	margin: 10px;
}

input::placeholder {
	padding: 10px;
	margin: 20px;
}

.output .display {
	color: slateblue;
	font-size: 1.85rem;
	text-align: right;
}

.calculadora-grilla > button:hover {
	background-color: slateblue;
}

